.navbar_items{
    /* display: flex;
    flex-direction: column;
    /* align-items:flex-end; */
    background-color: rgb(245, 203, 18);
    width: 100%;
    /* padding: 20px 30px; */
}


.nav_menu{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;

}
.menu_item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px ;
}


ul {
    /* margin: 20px 30px; */

}
li {
    /* width: 25%; */
    /* float: left; */
    text-decoration: none;
    list-style-type: none;

}
li:hover{
    background-color: rgb(255, 255, 0);
    transition-duration: 1s;

}
a{
    text-decoration: none;
    color: black;
}